.nav {
  max-width: 600px;
  margin-inline: auto;
}

.header {
  text-align: center;
  margin-block: 3em;
}

.list {
  list-style-type: none;
}

.link {
  margin-block: .5em;
  padding-right: 2.5em;
  cursor: pointer;
}

.list_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4em;
}

.shaded {
  background: linear-gradient(to right, #FFF 0%, #FFF 30%, aliceblue 100%);
}

.image_container {
  background-color: white;
  height: 100%;
  position: relative;
}

.image {
  height: 100%;
  width: 8em;
  object-fit: contain;
}

.product_container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  border: 2px solid grey;
  width: 80%;
  padding-block: 2em;
  background-color: aliceblue;
  margin-top: 2em;
  border-radius: 5px;
}

.productInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 3fr 2fr;
  justify-content: right;
  margin-top: 2em;
  padding-inline: 3em;
}

.product_name {
  font-size: 2em;
  font-weight: bold;
  grid-column: 1 / 3;
}

.product_price {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product_quantity {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.oos {
  opacity: .3;
}

.lowstock {
  color: red;
}

.stock {
  color: green;
}

.product_description {
  font-size: 1.2em;
  opacity: 60%;
  grid-column: 1 / -1;
}

.productImg {
  width: 30em;
  align-self: center;
}

.text {
  align-self: center;
  margin-block: 0;
}

.button {
  width: 100%;
  background-color: steelblue;
  border: 2px solid steelblue;
  color:white;
  border-radius: 5px;
  font-size: 1.5em;
  padding: .5em;
  align-self: center;
  grid-column: -2 / -1;
  transition: .2s all;
  box-sizing: border-box;
}

.button:enabled {
  cursor: pointer;
}

.button:enabled:hover {
  transform: scale(1.1);
  background-color: orange;
}

.button:disabled {
  border: 2px solid darkgray;
  color: darkgray;
  background-color: transparent;
}